<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<div class="btn btn-warning"><%= link_to 'Edit', edit_product_path(@product) %> </div>
<div class="btn btn-danger"><%= link_to 'Back', products_path %></div>
